body {
    font-family: sans-serif;
    max-width: 300px;
    margin: 40px auto;
    font-size: small;
}

form {
    display: flexbox;
    flex-direction: column;
    gap: 0px;
    /* we control spacing per row */
    padding: 0px;
    border: 0px solid #ccc;
    margin-bottom: 50px;
}

/* each label+input pair as a row */
.form-row {
    margin-bottom: 18px;
    /* distance from this input to next label */
}

.form-row label {
    display: block;
    margin-bottom: 4px;
    /* label -> input gap (small) */
}

input {
    font-size: small;
    padding: 0px 8px;
    margin: 0;
    /* reset default */
}

button {
    padding: 10px;
    background-color: #5b8027;
    color: white;
    border: none;
    cursor: pointer;
}

#results-container .person {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}